DATABASE_URL=
PORT=
FRONTEND_URL=
JWT_SECRET=
GOOGLE_CLIENT_ID=tu_client_id_de_google
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google
GOOGLE_CALLBACK_URL=http://localhost:3210/api/auth/google/callback